/* glue: 0.3 hash: e8122bf6f0 */
.iconTwitter,
.iconLinkedIn,
.iconGithub,
.iconFacebook{background-image:url('assets.png');background-repeat:no-repeat}
.iconTwitter{background-position:0px 0px;width:42px;height:36px;}
.iconLinkedIn{background-position:-42px 0px;width:37px;height:36px;}
.iconGithub{background-position:0px -36px;width:23px;height:36px;}
.iconFacebook{background-position:-23px -36px;width:23px;height:36px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.iconTwitter,
.iconLinkedIn,
.iconGithub,
.iconFacebook{background-image:url('assets@2x.png');-webkit-background-size: 78px 72px;-moz-background-size: 78px 72px;background-size: 78px 72px;}}
